$primary-color: #1890ff;
$warning-color: #fa8c16;
$pending-color: #722ed1;
$success-color: #52c41a;
$fail-color: #f5222d;
$primary-bgc: #e6f7ff;
$warning-bgc: #fff7e6;
$pending-bgc: #f9f0ff;
$success-bgc: #f6ffed;
$fail-bgc: #fff1f0;
$primary-border: #91d5ff;
$warning-border: #ffd591;
$pending-border: #d3adf7;
$success-border: #b7eb8f;
$fail-border: #ffa39e;
$break-point-tablet: 768px;
